body{
  margin: 0;
  padding: 0;
}

.App .count_button{
  justify-content: space-around;
  height: 50px;
  width: 50px;
  align-items: center;
}

.count{
  display:inline;
  justify-content: space-around;
}


.header{
  background-color: rgb(233, 213, 101);
  height: 30px;
  display:flex;
  margin: auto;
  width: auto; 
  position: relative;
  padding: 0.8rem 2rem;
}

.header p{
  margin-left: 20px;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;

}

.totalcart{
  background-color: rgb(147, 198, 240);
  height: 30px;
  width: 50px;
  text-align: center;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.reset{
  color:white;
  background-color: #28a745;
}

.btn{
  margin:10px 120px;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
}

.cart p{
  background-color: rgb(241, 226, 83);
  max-width: 20%;
  text-align: center;
  padding: 3px 6px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.cart{
  display: inline-block;
  width: 250px;
  margin: 10px 20px;
  /*grid-template-columns: repeat(5, 1fr); */
  justify-content: center;
  border-radius: 5px;
}
